.hidden {
    display: none;
}

.container {
    align-items: center;
    justify-items: center;
    border-radius: 5px; 
    background-color: #805e015b;
    padding-top: 1vw;
    padding-bottom: 3vw;
    width: 600px;
    margin: 0 auto;
}

* {
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    background-color: #7c879c;
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #E8F1F2;
    color: #05132e;
    margin: 0;
    overflow-x: hidden;
}

table {
    border: 2px solid #05132e;
    border-radius: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #05132e;
    color: #E8F1F2;
    font-size: 20px;
    text-align: center;
    border: #E8F1F2;
}

tbody {
    background-color: #805e0159;
}

th {
    min-width: 100px;
    min-height: 20px;
}

input {
    border-style: none;
    border-radius: 3px;
    background-color: #03030348;
    color: #05132e;
    font-weight: bold;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    width: 350px;
    height: 30px;
}

input:focus {
    outline: none;
    border: 2px solid #05132e;
    box-shadow: 0 0 4px rgba(5, 19, 46, 0.3);
}

input::-webkit-datetime-edit {
    color: #05132e;
    font-weight: normal;
}

input:focus::-webkit-datetime-edit {
    color: #05132e;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input::placeholder {
    color: #05132e;
    font-weight: normal;
}

input:focus::placeholder {
    color: #05132e;
}

select{
    border-style: none;
    border-radius: 3px;
    background-color: #03030348;
    color: #05132e;
    font-weight: bold;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    width: 350px;
    height: 30px;
}

select:focus {
    outline: none;
    border: 2px solid #05132e;
    box-shadow: 0 0 4px rgba(5, 19, 46, 0.3);
}

#avisoPacienteNaoEncontrado, #avisoAtendimentoNaoEncontrado{
    color: #05132e;
    font-size: 20px;
    justify-self: center;
    font-weight: bold;
    max-width: 1000px;
}

h2{
    position: relative;
    left: 2%;
    font-size: 2vw;   
}

h3 {
    text-align: center;
    font-size: 2vw;
}

.botao-invisivel {
    background-color: #05132e00;
    color: #05132e;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 2%;
}

.botao-invisivel:hover {
    color: #805e01;
    text-decoration: underline;
}

.botao-cinza {
    background-color: #05132e52;
    color: #05132e;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 2.2%;

}

.botao-cinza:hover {
    background-color: #805e0159;
}

.botao-tabela {
    background-color: #05132e00;
    color: #05132e;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.botao-tabela:hover {
    background-color: #b68603;
}

.botao-excluir {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background-color: #805e0100;
    color: #05132e;
    border: none;
    cursor: pointer;
}

.botao-excluir:hover {
    background-color: #c03030;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa-input {
    padding-left: 50px;
    height: 40px;
    border-radius: 8px;
    border: none;
    width: 900px;
    font-size: large;
    background-color: #05132e54;
}

.barra-pesquisa-input:focus {
    background-color: #05132e79;
}

.barra-pesquisa-input::placeholder {
    color: #05132e
}

.icone-lupa {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    pointer-events: none;
}

.botao-pesquisar {
    position: absolute;
    left: 88%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background-color: #05132e00;
    color: #05132e;
    border: none;
    font-weight: bold;
}

.botao-pesquisar:hover {
    color: #664b02;
}

#botaoLimparPesquisa,
#botaoLimparPesquisaAtend {
    position: absolute;
    left: 101%;
    top: 20%;
}

.botao-limpar {
    font-size: 15px;
    cursor: pointer;
    background-color: #05132e;
    color: #E8F1F2;
    border: none;
    border-radius: 3px;
    width: 130px;
    height: 30px;
}

.botao-limpar:hover {
    background-color: #805e01;
}

.botao-cancelar-salvar {
    font-size: 15px;
    height: 35px;
    width: 200px;
    background-color: #05132e;
    color: #E8F1F2;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
}

.botao-cancelar-salvar:hover {
    background-color: #805e01;
}

.botoes-div {
    display: flex;
    padding-top: 3vw;
    gap: 10px;
    justify-content: center;
}

main > #logo{
    width: 15vw;
    position: absolute;
    left: 80vw;
}

main{
    padding-bottom: 10vw;
}

footer{
    background-color: #05132e1a;
    margin: auto 0%;
    padding: 1vw;
    height: 100%;
    font-size: 15px;
}

footer > #logo{
    width: 10vw;
    position: absolute;
}

h4{
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #805e01;
    font-weight: bold;
}
a:hover{
    color: #041f57;
}

.items_container{
    display: grid;
    gap: 5vw;
    grid-auto-columns: 35vw;
    grid-template-rows: 20vh;
    grid-template-areas: 
    "item1 item2"
    "item1 item2"
    "item3 item3"
    ;
    justify-self: center;
    padding-top: 3vw;
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
    text-align: center;
}

#barraPesquisaPacientesDiv,
#barraPesquisaAtendimentosDiv
{
    left: 10%;
}

#TabelaPacientesCadastradosInteira,
#TabelaHistoricoAtendimentosInteira {
    justify-self: center;
}
